* {
    margin: 0;
    padding: 0;
    border: 0px none;
    border-color: unset;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #A23B72;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
}

#container {
    width: 100vw;
    margin: 0 auto;
}

#header {
    float: left;
    width: 100vw;
}

#primary {
    float: left;
    width: 25vw;
    height: 100vh;
}

#content {
    float: left;
    width: 50vw;
}

#secondary {
    float: left;
    width: 25vw;
    height: 100vh;
}

#footer {
    clear: both;
    width: 100vw;
}

footer {
    text-align: center;
}

nav {
    background-color: #E0BAD7;
    min-height: 4rem;
}

.logo {
    border-radius: 1.2rem;
}

a.navbar-brand {
    color: #F4F4ED;
    font-size: 150%;
    font-weight: bold;
}

.navbar-toggler {
    box-shadow: unset;
    border: unset;
    border-color: #E0BAD7;
}

.navbar-toggler-icon {
    box-shadow: unset;
    border: unset;
    border-color: #E0BAD7;
}

.navbar-toggler:focus {
    box-shadow: unset;
    border: unset;
    border-color: #E0BAD7;
}

.navbar-toggler-icon:focus {
    box-shadow: unset;
    border: unset;
    border-color: #E0BAD7;
}

a.nav-link {
    color: #6CD4FF;
    display: unset;
    height: 1rem;
}

a.nav-link:hover {
    color: #F4F4ED;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #F4F4ED;
}

li.nav-item>a.nav-link:focus {
    color: #F4F4ED;
}

.nav-link.active {
    color: #F4F4ED;
    border-radius: 1.2rem;
    border-style: solid;
    border-width: 3px;
    background-color: transparent;
    border-color: #F4F4ED;
}

.module {
    float: left;
    width: 98%;
    margin-left: 1%;
    padding: 1em;
    min-height: 60px;
    transition: all 0.3s linear;
}

.grid {
    margin-left: -2%;
    padding: 2%;
    *zoom: 1;
    min-height: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.w-2 {
    display: inline-block;
    width: 50%;
    padding: 1rem;
}

.h-2 {
    height: 40%;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}

.cf {
    *zoom: 1;
}

.cf::after {
    content: "";
    display: block;
    clear: both;
}

.round-image {
    border-radius: 50%;
}

.res-image {
    width: 100%;
    height: auto;
}

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-family: arial;
    color: #F4F4ED;
}

.made-with-love a {
    color: #6CD4FF;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}

.button {
    font-size: 0px;
    min-width: 100px;
    min-height: 30px;
}

.button::after {
    font-size: 16px;
}

.button::after {
    content: "Visit Deployment";
}

.button:hover::after {
    content: "Try it out!";
}

.button:hover {
    background-color: #A23B72;
    border: 0px solid #F4F4ED;
    color: #E0BAD7 !important;
}

.section-body {
    padding: 1rem;
    color: #F4F4ED;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 80vh;
    /* set the height of the container */
    overflow: hidden;
}

.section-body span {
    flex: 1;
}

.right {
    width: 60px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    left: auto;
    z-index: 10;
    color: #F4F4ED;
}

.left {
    width: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: auto;
    z-index: 10;
}

.redacted span {
    position: relative;
    white-space: pre;
}

.redacted span:after {
    background: white;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
}

.card-container {
    font-size: 62.5%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    align-items: start;
}

@media (max-width: 60em) {
    .card-container {
        grid-gap: 3em;
    }
}

.card-container__item {
    background-color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
    box-shadow: 0 3em 6em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.card-container__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4em 8em rgba(0, 0, 0, 0.2);
}

.card__img {
    display: block;
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.card__content {
    padding: 3em 3em;
}

.card__header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1rem;
}

.card__text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    color: #3d3d3d;
    margin-bottom: 2em;
}

.card__btn {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    color: #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: 0.4em;
    transition: 0.2s;
    cursor: pointer;
}

.card__btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.card__btn:hover,
.card__btn:active {
    background-color: #dce4ff;
}

.card__btn:hover span,
.card__btn:active span {
    margin-left: 1em;
}

.desc {
    padding-left: 2rem;
}

.before {
    display: contents;
}

.after {
    display: none;
}

.show {
    display: contents;
}

.hide {
    display: none;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #A23B72;
}

@media only screen and (max-width: 482px) {
    .col {
        display: none;
    }

    h2 div {
        display: block;
    }

    h3 div {
        display: block;
    }

    #primary {
        display: none;
    }

    #secondary {
        display: none;
    }
}

@media only screen and (min-width: 482px) {
    .tablet-1 {
        width: 6.33333333%;
    }

    .tablet-2 {
        width: 14.66666667%;
    }

    .tablet-3 {
        width: 23%;
    }

    .tablet-4 {
        width: 31.33333333%;
    }

    .tablet-5 {
        width: 39.66666667%;
    }

    .tablet-6 {
        width: 48%;
    }

    .tablet-7 {
        width: 56.33333333%;
    }

    .tablet-8 {
        width: 64.66666667%;
    }

    .tablet-9 {
        width: 73%;
    }

    .tablet-10 {
        width: 81.33333333%;
    }

    .tablet-11 {
        width: 89.66666667%;
    }

    .tablet-12 {
        width: 98%;
    }
}

@media only screen and (min-width: 1024px) {
    .desktop-1 {
        width: 6.33333333%;
    }

    .desktop-2 {
        width: 14.66666667%;
    }

    .desktop-3 {
        width: 23%;
    }

    .desktop-4 {
        width: 31.33333333%;
    }

    .desktop-5 {
        width: 39.66666667%;
    }

    .desktop-6 {
        width: 48%;
    }

    .desktop-7 {
        width: 56.33333333%;
    }

    .desktop-8 {
        width: 64.66666667%;
    }

    .desktop-9 {
        width: 73%;
    }

    .desktop-10 {
        width: 81.33333333%;
    }

    .desktop-11 {
        width: 89.66666667%;
    }

    .desktop-12 {
        width: 98%;
    }
}

/*# sourceMappingURL=pinkLink.css.map */
